In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [23]:
#importing the dataset
df=pd.read_csv('Google_Stock_Price_Train.csv')

In [24]:
df.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

In [25]:
train_set=df.iloc[:,1:2].values

In [26]:
train_set

array([[ 325.25],
       [ 331.27],
       [ 329.83],
       ...,
       [ 793.7 ],
       [ 783.33],
       [ 782.75]])

In [27]:
#Feature Scaling using Normalization
from sklearn.preprocessing import MinMaxScaler

In [28]:
sc = MinMaxScaler()
train_set=sc.fit_transform(train_set)

In [32]:
#Train test split
x_train = train_set[:-1]
y_train = train_set[1:]

array([[ 0.09701243],
       [ 0.09433366],
       [ 0.09156187],
       ...,
       [ 0.95725128],
       [ 0.93796041],
       [ 0.93688146]])